@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start Organizing Your Tasks and Stay Productive !</p>
    <p>Get Started By Creating Your First to-do item. </p>
    <a href="/ListData/Index" class="btn btn-primary">Create New To-Do Item</a>
</div>